<!DOCTYPE html>
<html>
    <head>
        <!-- <script type="text/javascript" src="jquery-1.6.2.min.js"></script>
        <script type="text/javascript" src="jquery.bracket.min.js"></script>
        <link rel="stylesheet" type="text/css" href="jquery.bracket.min.css" /> -->
        <script src="../controller/game.js"></script>
    </head>
    <body>
      
      Peli alkakoon!
      <div>
        <p id="messageBox"></p>
      </div>

    <div id="listTeams">
        <h3>Created teams:</h3>
        <ul id="teams"></ul>                          
    </div>

    <div id="tree">
        <p>Tähän pitäisi tulla pelitietojen puu</p>
    </div>

    <button id="stopGame" onclick="stopGame()" type="button">Stop game</button>

    </body>
</html>