<!DOCTYPE html>
<html>
<head>
    <title>Beerpong starting page</title>
    <link rel="stylesheet" href="common.css">
</head>
<body>
    <div>
        <h1>Start adding players</h1>
    </div>
    <div>
        <ul id="addedPlayers">
        </ul>
        <button id="removeAll">Remove all</button> 
    </div>
    <form action="">
        <input type="text" placeholder="Name">
        <button type="submit">Add player</button>
    </form>
    <div id="startPlaying">
        <button type="submit">Start playing</button>
    </div>
</body>
</html>